html, body, input {
  height: 100%;
  padding: 0;
  margin: 0;
}

$sidebar-width: 20em;
$input-width: 20em;
$input-margin: 1em;

// .sidebar {
//   position: absolute;
//   height: 100%;
//   display: block;
//   // margin-left: - $sidebar-width / 2;
// }

.titlebar {
  flex: 1;
  // margin-left: -20px;
  // position: absolute;
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: pink;
  // width: $sidebar-width;
  display: inline-block;
}

div {
  margin: 0;
}
// .menu-item {
//   margin: 0;
//   width: $sidebar-width;
// }

.title {
  // width: $sidebar-width;
  // height: 3em;  
  display: block;
  margin-left: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  // padding: 0;
}

.textfield {
  display: block;
  border: none;
  background-color: #DCD2E0;
  outline: none;
  padding: 1em;
  width: $input-width - $input-margin * 2;

  &:focus {
    background-color: #E9E0ED;
  }

  &::placeholder {
    // color: red;
  }
}

.action-button {
  border: none;
  background-color: #7D628C;
  padding: 1em;
  width: $input-width;
  color: white;
  cursor: pointer;

  &:active {
    background-color: #8542AA;
  }
}

.sticky-form {
  position: absolute;
  bottom: 0px;
}

.content {
  flex: 1;
  // margin-left: $sidebar-width;
  // position: absolute;
  // display: inline-block;
  height: 100vh;
  overflow-y: scroll;
}

.container {
  flex-direction: column;
  position: flex;
  align-items: flex-top;
}
